{% load static %}
{% load musicshop_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'musicshop/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'musicshop/font/logo-font/stylesheet.css' %}>
    <link rel="stylesheet" href={% static 'musicshop/css/base.css' %}>
    <link rel="stylesheet" href={% static 'musicshop/css/catalog.css' %}>
    <link rel="stylesheet" href={% static 'musicshop/css/cart.css' %}>
    <link rel="stylesheet" href={% static 'musicshop/css/item.css' %}>
    <title>{{ title }}</title>
</head>
<body>
<script src={% static 'musicshop/js/bootstrap.bundle.min.js' %}></script>
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head_logo ">
                    <div class="logo fs-2 text-left">
                        Strings of the Soul
                    </div>
                    {% if show_cart %}
                        {% container_cart num_items cost %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-pills nav-fill justify-content-center  shadow">
                    <li class="nav-item menu-item">
                        <a class="nav-link active" href={% url 'index' %}>Главная</a>
                    </li>
                    <li class="nav-item dropdown menu-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Каталог
                        </a>

                        {% list_categories category_slug %}

                    </li>

                    <li class="nav-item menu-item">
                        <a class="nav-link" href="/admin">Admin-панель</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link" href={% url 'exit' %}>{{ user }} / Выход из системы</a>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">

                {% if messages %}
                    {% for message in messages %}
                        <div class="myalert alert alert-danger alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}


            </div>
        </div>
    </div>
</section>



<footer id = "footer">
</footer>

</body>
</html>