<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    {% for category in available_categories %}
        {% if category.slug == category_slug %}
            <li><a class="dropdown-item active" href="{{category.get_absolute_url}}">{{ category.name}}</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{{category.get_absolute_url}}">{{ category.name}}</a></li>
        {% endif %}
    {% endfor %}
    <div class="dropdown-divider"></div>
    <li><a class="dropdown-item" href={% url 'catalog_empty' %}>Все товары</a></li>
</ul>