{% extends 'musicshop/base.html' %}
{% load musicshop_tags %}

{% block content %}
    <div class="item-page">
        <div class="px-4 pt-5 text-center border-bottom">
            <div class="display-6 ">
                Инструкция по работе с системой
            </div>
            <div class="col-lg-10 mx-auto pt-2">
                <p class="lead mb-0 text-start" style="white-space: pre-wrap;">
                    "<b>Strings of the soul</b>" - cистема управления заказами магазина музыкальных инструментов. Система позволяет добавлять, отслеживать, управлять заказами покупателей, вести каталогизацию товаров, отслеживать их наличие и расположение. Также система позволяет вести профили покупателей, отслеживать их заказы.

                    Право создания заказов имеет сотрудник с уровнем доступа "<b>Консультант</b>" и выше. Доступ на сайт контролируется системой авторизации, каждый сотрудник имеет свой персональный профиль.

                    Для создания заказа сотруднику следует переключиться на пункт меню "<b>Каталог</b>", где выбрать необходимую категорию.

                    В открывшемся окне каталога будет таблица с доступными к продаже товарами и кнопками управления для добавления/удаления товара из корзины. Также в заголовке таблицы присутствуют элементы управления для сортировки, поиска по ключевым словами и группового добавления/удаления товаров. <b>Стоит обратить внимание</b>, что кнопка "<b>Удалить отмеченные</b>" удалит все отмеченные "галочкой" товары из корзины, <b>вне зависимости от их количества в ней</b>.

                    Для более подробного описания каждого товара сотрудник может нажать кнопку "<b>Подробнее</b>" и откроется окно с данными о товаре, включая его изображние и распределение по складам.

                    После добавления всех необходимых товаров, сотрудник может оформить заказ, кликнув по кнопке в правом верхнем углу с изображением торговой тележки и краткой информацией о товарах в корзине. Откроется страница оформления заказа, страница реализована на двух выпадающих элементах "<b>Корзина</b>" и "<b>Оформление заказа</b>, для удобства при оформлении больших заказов сотрудник может свернуть каждый из элементов. В элементе "<b>Корзина</b>" представляется таблица с товарами в корзине с теми же элементами управления, что и на странице каталога. В элементе "<b>Оформление заказа</b> представлена форма оформления заказа. Сотрудник должен выбрать покупателя из списка доступных профилей (при начале набора имени система произведет поиск по списку). Если покупатель не зарегистрирован в системе, то под полем выбора клиента есть ссылка на регистрацию нового покупателя.

                    При нажатии на ссылку, слева появится еще одно окно формы для регистрации покупателя, по завершении заполнения, обновится страница корзины, и новый покупатель появится в списке. Поле "<b>Сотрудник</b>" является нередактируемым, имя сотрудника берется из текущей авторизованной сессии.

                    После заполнения полей и подтверждения создания заказа, при успешном выполнении сотрудник окажется на странице, где будет сообщено о выполнении заказа и предложено скачать созданный документ (в формате pdf) по заказу.

                </p>
            </div>

        </div>
    </div>
{% endblock %}